{# @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 1.5
 # @lastUpdate : 06/02/2026 (Ajout suggestion de livre)
 #}

{% extends 'base.html.twig' %}

{% block body %}
<div class="container home-container">
    <h1>Choisissez une action :</h1>
    
    <nav class="home-nav-menu">

        {# BOUTON ENTRÉE : On passe 'false' pour indiquer que ce n'est PAS une sortie #}
        <button class="btn btn-primary" onclick="ouvrirScan('false')">
            Déposer un livre
        </button>
        {# BOUTON SORTIE : On passe 'true' pour indiquer que c'est une sortie #}
        <button class="btn btn-primary" onclick="ouvrirScan('true')">
            Prendre un livre
        </button>

        <button onclick="window.location.href='{{ path('app_livre_index') }}'" class="btn btn-primary">
            Bibliothèque
        </button>
    </nav>

    {# NOUVEAU : Section suggestion de livre #}
    <div class="suggestion-section">
        <p class="suggestion-text">
            <span class="suggestion-icon"></span>
            Vous ne savez pas quoi choisir ? Laissez-nous décider !
        </p>
        <button class="btn btn-suggestion-home" onclick="initialiserSuggestion()">
            Suggérer un livre
        </button>
    </div>

    {% include 'mouvement/_modal_succes.html.twig' %}
    {% include('partials/_templates_suggestion.html.twig') %}

    
</div>
{% endblock %}

{% block javascripts %}
    <script>
        window.ROUTES = {
            mouvementDebut: "{{ path('app_mouvement_debut') }}",
            livreNew: "{{ path('app_livre_new') }}"
        };
    </script>
    <script src="{{ asset('js/home_mouvement_handler.js') }}"></script>
    {# Chargement du script de suggestion de livres #}
    <script src="{{ asset('js/suggestion_livre_handler.js') }}"></script>
{% endblock %}