{# 
 # @fileName : mouvement/_mouvement_details.html.twig
 # @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 1.2
 # @dateCreate : 12/01/2026
 # @lastUpdate : 11/02/2026 (ajout des entêtes)
 #}

<h1>Détails du mouvement</h1>
<table class="table table-striped table-hover"> 
    <tbody>
        <tr>
            <th>id</th>
            <td>{{ mouvement.id }}</td> 
        </tr>
        <tr>
            <th>Livre</th>
            <td>
                {% if mouvement.livre %}
                    {# Ce lien ouvre la modale "Livre" par dessus la modale "Mouvement" si nécessaire #}
                    <a href="{{ path('app_livre_show', {id: mouvement.livre.id}) }}" class="modal-trigger">
                        {{ mouvement.livre.isbn }}
                    </a>
                {% else %}
                    <span class="text-danger">Livre supprimé</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Date / Heure</th>
            <td>{{ mouvement.dateHeure|date('d/m/Y H:i') }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>
                <span class="badge {{ mouvement.Type ? 'bg-danger' : 'bg-success' }}">
                    {{ mouvement.Type ? 'Sortie' : 'Entrée' }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Auteur de l'action</th>
            <td>{{ mouvement.nomPrenom }}</td>
        </tr>
    </tbody>
</table>