{# @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 1
 # @dateCreate : 14/01/2026
 # @lastUpdate : 14/01/2026
 #}

<div class="bg-light mb-4">
    <div>
        <h5 class="card-title">Filtrer l'historique</h5>
        <form action="{{ path('app_mouvement_search') }}" method="get" class="row g-3">
            <div class="col-md-3">
                <input type="text" name="isbn" class="form-control" placeholder="ISBN..." value="{{ last_isbn|default('') }}">
            </div>
            <div class="col-md-3">
                <input type="text" name="auteur" class="form-control" placeholder="Auteur du livre..." value="{{ last_auteur|default('') }}">
            </div>
            <div class="col-md-3">
                <input type="text" name="user" class="form-control" placeholder="Nom de la personne..." value="{{ last_user|default('') }}">
            </div>
            <div class="col-md-2">
                <select name="sort" class="form-select" onchange="this.form.submit()">
                    <option value="DESC" {{ current_sort|default('DESC') == 'DESC' ? 'selected' : '' }}>Plus récents</option>
                    <option value="ASC" {{ current_sort|default('DESC') == 'ASC' ? 'selected' : '' }}>Plus anciens</option>
                </select>
            </div>
            <div class="col-md-3">
                <div class="btn-group w-100">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                    
                    <a href="{{ path('app_mouvement_index') }}" class="btn btn-outline-secondary">
                        <button type="submit" class="btn btn-primary">Effacer</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>