{# @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 1
 # @dateCreate : 12/01/2026
 # @lastUpdate : 12/01/2026
 #}

{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Confirmation de {{ estSortie ? 'Sortie' : 'Entrée' }}</h1>

    <div class="alert alert-info">
        <strong>Livre :</strong> {{ livre.titre }} <br>
        <strong>Auteur :</strong> {{ livre.auteur }} <br>
        <strong>ISBN :</strong> {{ livre.isbn }} <br>
        <strong>Stock actuel :</strong> {{ livre.NbStock }}
    </div>

    <form action="{{ path('app_mouvement_finaliser', {'id': livre.id}) }}" method="post">
        
        <input type="hidden" name="type_action" value="{{ estSortie ? 'true' : 'false' }}">

        <div class="mb-3">
            <label for="nom" class="form-label">Nom et Prénom de la personne :</label>
            <input type="text" id="nom" name="nomPrenom" class="form-control" required autofocus autocomplete="off">
        </div>

        <button type="submit" class="btn btn-success">
            Valider {{ estSortie ? 'la sortie' : 'l\'entrée' }}
        </button>
        <a href="{{ path('home_index') }}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}