{# @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 1
 # @dateCreate : 12/01/2026
 # @lastUpdate : 14/01/2026
 #}

{% extends 'base.html.twig' %}

{% block title %}Historique des mouvements{% endblock %}

{% block body %}
    <h1>Historique des mouvements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Livre (ISBN)</th>
                <th>Type</th>
                <th>Date / Heure</th>
                <th>Utilisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mouvement in mouvements %}
            <tr>
                <td>{{ mouvement.id }}</td>
                <td>
                    {% if mouvement.livre %}
                        <a href="{{ path('app_livre_show', {id: mouvement.livre.id}) }}">
                            {{ mouvement.livre.isbn }}
                        </a>
                    {% else %}
                        <span class="text-danger">Livre supprimé (ID: {{ mouvement.livre.id|default('?') }})</span>
                    {% endif %}
                </td>
                <td>
                    <mark>{{ mouvement.Type ? 'Sortie (-1)' : 'Entrée (+1)' }}</mark>
                </td>
                <td>{{ mouvement.dateHeure ? mouvement.dateHeure|date('d/m/Y H:i') : '' }}</td>
                <td>{{ mouvement.nomPrenom }}</td>
                <td>
                    <a href="{{ path('app_mouvement_show', {'id': mouvement.id}) }}">Détails</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun mouvement enregistré.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}