{# @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 1.1
 # @lastUpdate : 26/01/2026 (Refonte architecture Modale)
 #}
 
{% extends 'base.html.twig' %}

{% block title %}Historique des mouvements{% endblock %}

{% block body %}
    <h1>Historique des mouvements</h1>

    {# Inclusion du formulaire de recherche dédié aux mouvements #}
    {% include 'mouvement/_search_form.html.twig' %}

    {% if mouvements is not empty %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Livre (ISBN)</th>
                    <th>Titre</th>
                    <th>Type</th>
                    <th>Date / Heure</th>
                    <th>Utilisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for mouvement in mouvements %}
                <tr>
                    <td>{{ mouvement.id }}</td>
                    <td>
                        {% if mouvement.livre %}
                            {# Lien vers le LIVRE : utilise la modale Livre standard #}
                            <a href="{{ path('app_livre_show', {id: mouvement.livre.id}) }}" class="modal-trigger">
                                {{ mouvement.livre.isbn }}
                            </a>
                        {% else %}
                            <span class="text-danger">Livre supprimé</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if mouvement.livre %}
                            {{ mouvement.livre.nom }}
                        {% else %}
                             <span class="text-danger">Livre supprimé</span>
                        {% endif %}
                    </td>
                    <td>
                        <span class="badge {{ mouvement.Type ? 'bg-danger' : 'bg-success' }}">
                            {{ mouvement.Type ? 'Sortie' : 'Entrée' }}
                        </span>
                    </td>
                    <td>{{ mouvement.dateHeure ? mouvement.dateHeure|date('d/m/Y H:i:s') : '' }}</td>
                    <td>{{ mouvement.nomPrenom }}</td>
                    <td>
                        {# [MODIFICATION] Utilisation de la classe spécifique pour la modale Mouvement #}
                        <a href="{{ path('app_mouvement_show', {'id': mouvement.id}) }}" class="mouvement-modal-trigger">
                            Détails
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {# [IMPORTANT] Inclusion des DEUX fichiers de modale #}
    {# 1. Pour gérer les clics sur les ISBN/Titres de livres #}
    {{ include('livre/_modal_livre_details.html.twig') }}
    
    {# 2. Pour gérer les détails/édition des mouvements #}
    {{ include('mouvement/_modal_mouvement_details.html.twig') }}

{% endblock body %}