{# @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 1
 # @dateCreate : 12/01/2026
 # @lastUpdate : 12/01/2026
 #}

{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
    <h1>Liste des livres en stock</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Nom</th>
                <th>Auteur</th>
                <th>Stock</th>
                {% if app.session.get('admin_authenticated') %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            {% if  ((app.session.get('admin_authenticated') == false) and (livre.NbStock > 0)) or app.session.get('admin_authenticated') %}
                <tr>
                    <td><a href="{{ path('app_livre_show', {'id': livre.id}) }}">{{ livre.isbn }}</a></td> 
                    <td>{{ livre.nom }}</td>
                    <td>{{ livre.auteur }}</td>
                    <td>{{ livre.NbStock }}</td>
                    {% if app.session.get('admin_authenticated') %}
                    <td>
                        <a href="{{ path('app_livre_edit', {'id': livre.id}) }}">Modifier</a>
                    </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}