{# @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 1
 # @dateCreate : 12/01/2026
 # @lastUpdate : 12/01/2026
 #}

{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ISBN</th>
                <td>{{ livre.isbn }}</td> 
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ livre.nom }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.auteur }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ livre.description }}</td>
            </tr>
            <tr>
                <th>LienImg</th>
                <td>{{ livre.lienImg }}</td>
            </tr>
            <tr>
                <th>NbStock</th>
                <td>{{ livre.NbStock }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livre_index') }}">Revenir à la liste</a>

    <a href="{{ path('app_livre_edit', {'id': livre.id}) }}">Modifier</a>
    {{ include('livre/_delete_form.html.twig') }}
{% endblock %}
